<h4>{{membership.email}}</h4>
<div class="row">
  <div class="columns medium-3">Role</div>
  <div class="columns medium-3">
    {{membership.role}}
  </div>
  <div class="columns medium-6">
    {{#if isEditable}}
      <ul class="button-group actions">
        <li>
          <button class="small button set-admin {{if isAdmin 'secondary'}}" disabled={{isAdmin}} {{ action 'setRoleToAdmin'}}>Admin</button>
        </li>
        <li>
          <button class="small button set-member {{if isMember 'secondary'}}" disabled={{isMember}} {{ action 'setRoleToMember'}}>Member</button>
        </li>
      </ul>
    {{/if}}
  </div>
</div>
