<h4>{{membership.email}}</h4>
<div class="row">
  <div class="columns medium-3">Role</div>
  <div class="columns medium-3">
    {{membership.role}}
  </div>
  <div class="columns medium-6">
    {{#if isEditable}}
      <ul class="button-group">
        <li><button class="small button {{if isAdmin 'secondary'}}" disabled={{isAdmin}} {{ action 'setRoleToAdmin'}}>Admin</button></li>
        <li><button class="small button {{if isMember 'secondary'}}" disabled={{isMember}} {{ action 'setRoleToMember'}}>Member</button></li>
      </ul>
    {{/if}}
  </div>
</div>
