<h1>Active invites</h1>

<table>
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each teamMembership in model}}
      <tr>
        <td>{{teamMembership.email}}</td>
        <td>N/A</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Send an invite</h2>

<form {{action 'createInvite' on='submit'}}>
  <div class="row collapse">
    <div class="large-12 columns">
      <label for="email">E-mail</label>
      {{input type='text' id='email' name='email' value=newInviteEmail}}
    </div>
  </div>
  <div class="row collapse">
    <div class="large-12 columns">
      {{input class='button' type='submit' value='Send invite' disabled=createInviteActionDisabled}}
    </div>
  </div>
</form>

{{#if showMessage}}
  <p>{{message}}</p>
{{/if}}

{{#if showError}}
  <p>{{errorMessage}}</p>
{{/if}}