<div class="row">
  <div class="large-12 columns">
    <h1>Create a new team</h1>
    <form {{action 'create' on='submit'}}>
      <div class="row">
        <div class="large-12 columns">
          <label for="name">Name</label>
          {{input id='name' name='name' value=model.name}}
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
           <label for="subdomain">Subdomain</label>
          {{input id='subdomain' name='subdomain' value=model.subdomain}}
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          {{input id='create-team' class='button' type='submit' value='Create' disabled=teamCreationNotAllowed}}
        </div>
      </div>
    </form>
  </div>
</div>

{{#if showMessage}}
  <div class="row">
    <div class="large-12 columns">
      <p class="message">{{message}}</p>
      <p>Click <a class="team-link" href={{createdTeamURL}}>here</a> to visit team site</p>
    </div>
  </div>
{{/if}}

{{#if showError}}
  <div class="row">
    <div class="large-12 columns">
      <p class="error">{{errorMessage}}</p>
    </div>
  </div>
{{/if}}
