<h1>Members</h1>

{{#each teamMembership in model}}
  {{#team-membership classNames='row' membership=teamMembership message='message' error='error'}}
    {{team-membership-listing classNames='columns medium-3' membership=teamMembership message='message' error='error'}}
    {{team-membership-role-actions classNames='columns medium-3 end' membership=teamMembership message='message' error='error'}}
    {{#if currentUserIsTeamOwner}}
      {{team-membership-actions classNames='columns medium-3' membership=teamMembership message='message' error='error'}}
    {{/if}}
  {{/team-membership}}
{{/each}}

<h2>Send an invite</h2>

<form {{action 'createInvite' on='submit'}}>
  <div class="row collapse">
    <div class="large-12 columns">
      <label for="email">E-mail</label>
      {{input type='text' id='email' name='email' value=newInviteEmail}}
    </div>
  </div>
  <div class="row collapse">
    <div class="large-12 columns">
      {{input id='create-membership' class='button' type='submit' value='Send invite' disabled=createInviteNotAllowed}}
    </div>
  </div>
</form>

{{#if showMessage}}
  <div class="message alert-box success">{{message}}</div>
{{/if}}

{{#if showError}}
  <div class="error alert-box alert">{{errorMessage}}</div>
{{/if}}