<h1>Members</h1>

{{#each teamMembership in model}}
  <div class="row team-membership {{teamMembership.role}}">
    {{team-membership-listing classNames='columns medium-4' membership=teamMembership}}
    {{#if currentUserIsAtLeastAdmin}}
    {{team-membership-role-actions classNames='columns medium-4 end' membership=teamMembership updateRole='updateRole'}}
    {{/if}}
    {{#if currentUserIsTeamOwner}}
      {{team-membership-actions classNames='columns medium-4' membership=teamMembership delete='delete'}}
    {{/if}}
  </div>
{{/each}}

<h2>Send an invite</h2>

<form {{action 'createInvite' on='submit'}}>
  <div class="row collapse">
    <div class="large-12 columns">
      <label for="email">E-mail</label>
      {{input type='text' id='email' name='email' value=newInviteEmail}}
    </div>
  </div>
  <div class="row collapse">
    <div class="large-12 columns">
      {{input id='create-membership' class='button' type='submit' value='Send invite' disabled=createInviteNotAllowed}}
    </div>
  </div>
</form>

{{#if showMessage}}
  <div class="message alert-box success">{{message}}</div>
{{/if}}

{{#if showError}}
  <div class="error alert-box alert">{{errorMessage}}</div>
{{/if}}
